.cproject
.sconsign.*.dblite
.build/
.sconf_temp/
/include/
/apps/
/globals/
/tests/
/lib/
/.tox/
/.v27sc*/
/.venv*/
/.vscode/
/sconsolidator/
/node_modules/
*~
*.pyc
/3rdparty/
/dummy_for_tox.egg-info/
